doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// Bootstrap CSS
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/slick.css')
		link(rel='stylesheet', href='css/slick-theme.css')
		link(rel='stylesheet', href='css/magnific-popup.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/media.css')
		title Главная страница
	body
		h1 Shekalova.ru Главная страница
		i(class="fal fa-american-sign-language-interpreting")
		script(src='js/jquery-min.js')
		script(src='js/fontawesome-all.min.js')
	script(src='js/popper.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/slick.min.js')
	script(src='js/jquery.magnific-popup.min.js')
	script(src='js/script-min.js')
